---
const title = '页面未找到'
---
<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <h1>404</h1>
      <p>抱歉，你访问的页面不存在。</p>
      <a href="/">返回首页</a>
    </main>
  </body>
</html>